.container {
    width: 100%;
    max-width: 1024px;
    padding: 10px;
    margin: auto;
  }
.logo {
    color: rgb(0, 135, 234);
    font-family: Stem;
    font-size: 28px;
    text-align: left;
  }
nav {
    float: right;
  }
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
nav li {
    display: inline-block;
    color: rgba(20, 20, 21, 0.8);
    font-family: Stem;
    font-size: 18px;
    margin: 0px 16px;
    text-align: left;
  }
.container:after {
    content: "";
    display: table;
    clear: both;
  }
.container div {
    float: left;
    margin-bottom: 15px;
  }
.col-1-2 {
    width: 50%;
    text-align: left;}

.h5 {color: rgb(0, 0, 0);
        font-family: Stem;
        font-size: 70px;
    }
.button {
    position: left;
    width: 170px;
    height: 56px;
    color: rgb(255, 255, 255);
    font-family: Stem;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    background: rgb(0, 135, 234);
  }
  
.col-1-3 {
    background: rgb(0, 135, 234);
    position: absolute;
    width: 1480px;
    height: 150px;
    left: -0.07%;
    right: 0.07%;
    top: 95.68%;
    bottom: 0%;
  }

.ul{color: rgb(255, 255, 255);
    font-family: Stem;
    font-size: 18px;
    text-align: left;
    padding-left: 230px; 
}
